body {
	background-color: black;
	color: beige;
	text-align: center;
}
.master {
	width: 500px;
	border-style: solid;
}
.header{
    font-family: sans-serif;
    color: yellow;
}
#img1{
	width:350px;
	border:solid;
}
#img2{
	width:350px;
	border:solid;
}
p{
	font-family: sans-serif;
	font-size: 150%;
	padding: auto;
	color: black;
	background-color: white;
	padding: 150px;

}
nav{
	background-color: white;
	color: gold;
}
.yin{
	background-image: url("dragon-tiger-yin-yang.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}